<h2><a href="/pokemon">All Pokemon</a></h2>
<h3>Create New Pokemon!</h3>

<div class="pokemon front_page">
  <form action="/pokemon" method="post">
    <p>Name: <input type="text" name="pokemon[name]"></p>
    <p>Combat Power: <input type="text" name="pokemon[cp]"></p>
    <p>Type: <input type="text" name="pokemon[poke_type]"></p>
    <p>Image URL: <input type="text" name="pokemon[img_url]"></p>
    <input type="submit" value="Create">
  </form>
</div>
